<div>
  <h1> <%= job.title %> </h1>
  <hr>
  <table style="width:100%">
    <tr>
      <td> Empresa: </td>
      <td><%= job.company.name %></td>
    </tr>
    <tr>
      <td> Localização:  </td>
      <td><%= job.location %></td>
    </tr>
    <tr>
      <td> Categoria:  </td>
      <td><%= job.category %></td>
    </tr>
  </table>
  <br>
</div>
